In [195]:
import requests
import os
import re
import pandas as pd
from dotenv import load_dotenv
load_dotenv()
API_KEY = os.getenv('API_KEY')

In [2]:
url = f'https://api.apify.com/v2/datasets/USrexx5w6PDqP6YkP/items?token={API_KEY}'

In [3]:
data = requests.get(url)
data = data.json()

In [4]:
for item in data[:1]:
    print(item.keys())

dict_keys(['id', 'type', 'shortCode', 'caption', 'hashtags', 'mentions', 'url', 'commentsCount', 'firstComment', 'latestComments', 'dimensionsHeight', 'dimensionsWidth', 'displayUrl', 'images', 'videoUrl', 'alt', 'likesCount', 'videoViewCount', 'videoPlayCount', 'timestamp', 'childPosts', 'ownerFullName', 'ownerUsername', 'ownerId', 'productType', 'videoDuration', 'isSponsored', 'taggedUsers'])

### Ignore posts that mentions hookgrip or iwf

In [281]:
hookgrip = []

#women
jiang_hh = []
kuo_hs = []
toma = []
vibert = []
gomez = ['gomiitagomez']
mattie = []
g_mise = ['giulia_miserendino']
g_impe = ['giuliaimperioo']
m_king = []
cambei = []
charron = []
j_dlc = []
a_dajomes = ['angiedajomes']
n_dajomes = ['neisi_dajomes']
lydia = []
koha = []
m_myers = []
lucero = []
dekha = []
reeves = []
hayley = []
nina = []
mfv = []
deng = []
siriwimon = []
yenny = []
a_sara = []
mirabai = []
kim_sh= []

#men
ilya = []
shi_zy = []
lu_xj = ['luxiaojun']
lasha = []
tian = []
li_dy = []
li_fb = []
liu_hh = ['liuhuanhua89']
meso = []
keydomar = []
nino = []
nasar = []
lalayan = []
mirko = []
lesman = []
a_dju = []
jangabaev = []
nurudinov = []
mosquera = []
rodallegas = []
rizki = []
rahmat = []
robu = []
antropov = []
m_gor = ['minasyan___001']
simon = []
a_kar = []
toshiki = []
lee_sang = []
ergashev = []
cj = []
tkt = ['kim_tuan1501']
salimi = []
klokov =[]
aukhadov = []
torokhtiy = []
osorio = []
rfernando = ['rreisfernando']
maurus = []
morris = []
yousefi = []
boady = []

for item in data:
    if 'mentions' in item:
        for name in item['mentions']:
            if re.findall("hookgrip.*", name) != [] and name not in hookgrip:
                hookgrip += re.findall("hookgrip.*", name)
            elif re.findall('hkgrp.*', name) != [] and name not in hookgrip:
                hookgrip += re.findall('hkgrp.*', name)
            elif re.findall('^kuo.*chun.*', name) and name not in kuo_hs:
                kuo_hs += re.findall('^kuo.*chun.*', name)
            elif re.findall('^ilyailyin.*', name) and name not in ilya \
            or re.findall('^ilyinilya.*', name) and name not in ilya:
                ilya += re.findall('^ilyailyin.*', name)
                ilya += re.findall('^ilyinilya.*', name)
            elif re.findall('^katevibert.*', name) and name not in vibert\
            or re.findall('^katherineenye.*', name) and name not in vibert:
                vibert += re.findall('^katevibert.*', name)
                vibert += re.findall('^katherineenye.*', name)
            elif 'lasha' in name and name not in lasha:
                lasha.append(name)
            elif 'jiang' in name and name not in jiang_hh:
                jiang_hh.append(name)
            elif 'loredana' in name and name not in toma:
                toma.append(name)
            elif 'toshiki' in name and name not in toshiki:
                toshiki.append(name)
            elif 'tiantao' in name and name not in tian:
                tian.append(name)
            elif 'mattiecake' in name and name not in mattie\
            or 'mattierogersoly'in name and name not in mattie:
                mattie.append(name)
            elif 'jourdannn_14' in name and name not in j_dlc:
                j_dlc.append(name)
            elif 'luisjavierhd' in name and name not in mosquera:
                mosquera.append(name)
            elif name == 'klokovd' and name not in klokov:
                klokov.append(name)
            elif 'lydiavalentin' in name and name not in lydia:
                lydia.append(name)
            elif 'rebeka_koha' in name and name not in koha:
                koha.append(name)
            elif 'ergashev' in name and name not in ergashev:
                ergashev.append(name)
            elif 'cmv.valentina' in name and name not in cambei:
                cambei.append(name)
            elif 'cummingz' in name and name not in cj\
            or 'cj__cummings' in name and name not in cj:
                cj.append(name)
            elif 'dengweichina' in name and name not in deng:
                deng.append(name)
            elif 'shturi' in name and name not in nasar\
            or 'nasar' in name and name not in nasar:
                nasar.append(name)
            elif re.findall('^andranik.*karapetyan.*', name) != [] and name not in a_kar:
                a_kar += re.findall('^andranik.*karapetyan.*', name)
            elif 'rahmaterwin' in name and name not in rahmat:
                rahmat.append(name)
            elif re.findall('^.*lalayan.*', name) != [] and name not in lalayan:
                lalayan += re.findall('^.*lalayan.*', name)
            elif 'djuraev' in name and name not in a_dju\
            or 'akbar' in name and name not in a_dju:
                a_dju.append(name)
            elif re.findall('^.*hassona.*', name) != [] and name not in meso:
                meso += re.findall('^.*hassona.*', name)
            elif re.findall('^.*antropov.*', name) != [] and name not in antropov:
                antropov += re.findall('^.*antropov.*', name)
            elif re.findall('^.*salimi.*', name) != [] and name not in salimi:
                salimi += re.findall('^.*salimi.*', name)
            elif 'kingmorghan' in name and name not in m_king:
                m_king.append(name)
            elif 'charron' in name and name not in charron:
                charron.append(name)
            elif 'nurudinov' in name and name not in nurudinov:
                nurudinov.append(name)
            elif 'aukhadov' in name and name not in aukhadov:
                aukhadov.append(name)
            elif 'torokhtiy' in name and name not in torokhtiy:
                torokhtiy.append(name)
            elif 'osorio' in name and name not in osorio:
                osorio.append(name)
            elif re.findall('^.*maddy.*myers.*', name) != [] and name not in m_myers:
                m_myers += re.findall('^.*maddy.*myers.*', name)
            elif 'jessicalucero9' in name and name not in lucero:
                lucero.append(name)
            elif 'rreisfernando' in name and name not in rfernando:
                rfernando.append(name)
            elif 'rodallegas' in name and name not in rodallegas:
                rodallegas.append(name)
            elif 'martirosyan' in name and name not in simon:
                simon.append(name)
            elif 'dekha' in name and name not in dekha:
                dekha.append(name)
            elif re.findall('^.*harrison.*maurus.*', name) != [] and name not in maurus:
                maurus += re.findall('^.*harrison.*maurus.*', name)
            elif re.findall('^.*hampton.*morris.*', name) != [] and name not in morris:
                morris += re.findall('^.*hampton.*morris.*', name)
            elif 'keydomar' in name and name not in keydomar:
                keydomar.append(name)
            elif 'juniansyah' in name and name not in rizki:
                rizki.append(name)
            elif 'siriwimon' in name and name not in siriwimon:
                siriwimon.append(name)
            elif re.findall('^.*mirko.*zanni.*', name) != [] and name not in mirko:
                mirko += re.findall('^.*mirko.*zanni.*', name)
            elif re.findall('^.*li.*dayin.*', name) != [] and name not in li_dy:
                li_dy += re.findall('^.*li.*dayin.*', name)
            elif re.findall('^.*jangabaev.*', name) != [] and name not in jangabaev:
                jangabaev += re.findall('^.*rustam.*jangabaev.*', name)
            elif 'pizzolato' in name and name not in nino:
                nino.append(name)
            elif 'hayleyreichardt' in name and name not in hayley:
                hayley.append(name)
            elif re.findall('^.*olivia.*reeves.*', name) != [] and name not in reeves:
                reeves += re.findall('^.*olivia.*reeves.*', name)
            elif 'sterckx'in name and name not in nina:
                nina.append(name)
            elif 'yousefi' in name and name not in yousefi:
                yousefi.append(name)
            elif 'boady' in name and name not in boady:
                boady.append(name)
            elif 'fernandavaldesparis' in name and name not in mfv:
                mfv.append(name)
            elif 'lifabin' in name and name not in li_fb:
                li_fb.append(name)
            elif 'robu' in name and name not in robu:
                robu.append(name)
            elif 'lesman' in name and name not in lesman:
                lesman.append(name)
            elif re.findall('^.*lee.*sang.*', name) != [] and name not in lee_sang:
                lee_sang += re.findall('^.*lee.*sang.*', name)
            elif 'sarasamir' in name and name not in a_sara:
                a_sara.append(name)
            elif re.findall('^.*yenny.*alvarez.*', name) != [] and name not in yenny:
                yenny.append(name)
            elif 'mirabai' in name and name not in mirabai:
                mirabai.append(name)
            elif re.findall('^.*ssuiant.*', name) != [] and name not in kim_sh:
                kim_sh += re.findall('^.*ssuiant.*', name)
            elif re.findall('^.*shi.*zhi.*yong.*', name) != [] and name not in shi_zy:
                shi_zy += re.findall('^.*shi.*zhi.*yong.*', name)

In [229]:
def count_compete(tagged_list, name_list):    
    year_compete = []
    year_list = [['2023', ''], ['2022', ''], ['2021', ''], ['2020', ''], ['2019', ''], ['2018', ''], ['2017', ''], ['2016', ''],\
             ['2015', ''], ['2014', ''], ['2013', '']]
    for item in data:
        if 'mentions' in item:
            for name in item['mentions'] :
                if name in tagged_list:
                    year_compete.append(item['timestamp'][0:4])
                else:
                    for name in name_list:
                        if ('snatch' or 'clean' or 'jerk') in item['caption']\
                        and name in item['caption']:
                            year_compete.append(item['timestamp'][0:4])
        
    for year in year_list:
        year[1] = year_compete.count(year[0])

    return year_list

kuo2 = count_compete(kuo_hs, ['Kuo Hsingchun'])
print(kuo2)

lasha2 = count_compete(lasha, ['Lasha Talakhadze'])

counter = 0
for num in lasha2:
    counter += num[1]

print(counter)

[['2023', 1], ['2022', 0], ['2021', 3], ['2020', 2], ['2019', 4], ['2018', 1], ['2017', 6], ['2016', 1], ['2015', 0], ['2014', 0], ['2013', 0]]
67

## Function to count name apperances, subloop to interate over list

In [349]:
w_dict = [{'name': 'Kuo Hsingchun',
             'years': count_compete(kuo_hs, ['Kuo Hsingchun', 'Kuo Hsing-chun'])},
            {'name': 'Jiang Huihua',
             'years': count_compete(jiang_hh, ['Jiang Huihua'])},
            {'name': 'Luo Shifang',
             'years': count_compete([], ['Luo Shifang' 'Shifang'])},
            {'name': 'Pei Xinyi',
             'years': count_compete(['peixinyi_01'], ['Pei Xinyi'])},
            {'name': 'Liao Guifang',
             'years': count_compete(['liaoguifang_10'], ['Liao Guifang'])},
            {'name': 'Loredana Toma',
             'years': count_compete(toma, ['Loredana Toma'])},
            {'name': 'Kate Vibert',
             'years': count_compete(vibert, ['Kate Vibert', 'Kate Nye', 'Katherine Nye'])},
            {'name': 'Gomiita Gomez',
             'years': count_compete(['gomiitagomez'], ['Gomiita Gomez'])},
            {'name': 'Guilia Imperio',
             'years': count_compete(g_impe, ['Guilia Imperio'])},
            {'name': 'Guilia Miserendino',
             'years': count_compete(g_mise, ['Guilia Miserendino'])},
            {'name': 'Mattie Rogers',
             'years': count_compete(mattie, ['Mattie Rogers'])},
            {'name': 'Yenny Alvarez',
             'years': count_compete(yenny, ['Yenny Alvarez'])},
            {'name': 'Sara Ahmed',
             'years': count_compete(a_sara, ['Sara Ahmed'])},
            {'name': 'Mirabai Chanu',
             'years': count_compete(mirabai, ['Mirabai Chanu'])},
            {'name': 'Kim Su-hyon',
             'years': count_compete(kim_sh, ['Kim Su-Hyeon', 'Kim Suhyeon', 'Kim Suhyon'])},
            {'name': 'Morghan King',
             'years': count_compete(m_king, ['Morghan King'])},
            {'name': 'Neisi Dajomes',
             'years': count_compete(n_dajomes, ['Neisi Dajomes'])},
            {'name': 'Angie Dajomes',
             'years': count_compete(a_dajomes, ['Angie Dajomes'])},
            {'name': 'Lydia Valentín',
             'years': count_compete(lydia, ['Lydia Valentín' , 'Lydia Valentin'])},
            {'name': 'Rebeka Koha',
             'years': count_compete(koha, ['Rebeka Koha', 'Rebeka Ibrahim'])},
            {'name': 'Maude Charron',
             'years': count_compete(charron, ['Maude Charron'])},
            {'name': 'Mihaela Cambei',
             'years': count_compete(cambei, ['Valentina Cambei', 'Mihaela Cambei'])},
            {'name': 'Jourdan Delacruz',
             'years': count_compete(j_dlc, ['Jourdan Delacruz'])},
            {'name': 'Jessica Lucero',
             'years': count_compete(lucero, ['Jessica Lucero'])},
            {'name': 'Solfrid Koanda',
             'years': count_compete(['98solfrid'], ['Solfrid Koanda'])},
            {'name': 'Iryna Dekha',
             'years': count_compete(dekha, ['Iryna Dekha'])},
            {'name': 'Hayley Reichardt',
             'years': count_compete(['hayleyreichardt'], ['Hayley Reichardt'])},
            {'name': 'Olivia Reeves',
             'years': count_compete(reeves, ['Olivia Reeves'])},
            {'name': 'Nina Stercx',
             'years': count_compete(nina, ['Nina Stercx'])},
            {'name': 'Deng Wei',
             'years': count_compete(deng, ['Deng Wei'])},
            {'name': 'María Fernanda Valdés',
             'years': count_compete(mfv, ['María Fernanda Valdés', 'Maria Fernanda Paris'])},
            {'name': 'Iam-My Siriwimon',
             'years': count_compete(siriwimon, ['Iam-My Siriwimon', 'Pramongkhol Siriwimon', 'My Siriwimon'])},
            {'name': 'Maddy Myers',
             'years': count_compete(m_myers, ['Maddy Myers'])},
            {'name': 'Tatiana Kashirina',
             'years': count_compete(['tani240191'], ['Tatiana Kashirina'])}
           ]

for item in w_dict:
    item['sex'] = 'F'

In [436]:
m_dict = [{'name': 'Lasha Talakhadze',
           'years': count_compete(lasha, ['Lasha Talakhadze'])},
          {'name': 'Ilya Ilyin',
           'years': count_compete(ilya, ['Ilya'])},
          {'name': 'Lu Xiaojun',
           'years': count_compete(['luxiaojun'], ['Lu Xiaojun', 'Lü Xiaojun'])},
          {'name': 'Li Dayin',
           'years': count_compete(li_dy, ['Li Dayn'])},
          {'name': 'Tian Tao',
           'years': count_compete(tian, ['Tian Tao'])},
          {'name': 'Chen Lijun',
           'years': count_compete([], ['Chen Lijun'])},
          {'name': 'Li Fabin',
           'years': count_compete(li_fb, ['Li Fabin'])},
          {'name': 'Liao Hui',
           'years': count_compete([], ['Liao Hui'])},
          {'name': 'Shi Zhiyong',
           'years': count_compete(shi_zy, ['Shi Zhi Yong', 'Shi Zhiyong', 'Shi Zhi-Yong'])},
          {'name': 'Liu Huanhua',
           'years': count_compete(liu_hh, ['Liu Huanhua'])},
          {'name': 'Meso Hassona',
           'years': count_compete(meso, ['Meso Hassona', 'Fares El-Bakh'])},
          {'name': 'Keydomar Vallenilla',
           'years': count_compete(keydomar, ['Keydomar Vallenilla'])},
          {'name': 'Antonio Pizzolato',
           'years': count_compete(nino, ['Nino Pizzolato', 'Antonio Pizzolato'])},
          {'name': 'Karlos Nasar',
           'years': count_compete(nasar, ['Karlos Nasar'])},
          {'name': 'Mirko Zanni',
           'years': count_compete(mirko, ['Mirko Zanni'])},
          {'name': 'Lesman Paredes',
           'years': count_compete(lesman, ['Lesman Paredes'])},
          {'name': 'Akbar Djuraev',
           'years': count_compete(a_dju, ['Akbar Djuraev', 'Akhbar Djuraev'])},
          {'name': 'Rustam Djangabaev',
           'years': count_compete(jangabaev, ['Rustam Djangabaev'])},
          {'name': 'Ruslan Nurudinov',
           'years': count_compete(nurudinov, ['Ruslan Nurudinov'])},
          {'name': 'Luis Mosquera',
           'years': count_compete(mosquera, ['Luis Javier Mosquera', 'Luis Javier'])},
          {'name': 'Brayan Rodallegas',
           'years': count_compete(rodallegas, ['Brayan Santiago Rodallegas Carvajal', 'Santiago Radallegas'])},
          {'name': 'Rizki Juniansyah',
           'years': count_compete(rizki, ['Rizki Juniansyah'])},
          {'name': 'Rahmat Abdullah',
           'years': count_compete(rahmat, ['Rahmat Abdullah', 'Rahmat Erwin Abdullah'])},
          {'name': 'Marin Robu',
           'years': count_compete(robu, ['Marin Robu'])},
          {'name': 'Artyom Antropov',
           'years': count_compete(antropov, ['Artyom Antropov'])},
          {'name': 'Varazdat Lalayan',
           'years': count_compete(lalayan, ['Varazdat Lalayan'])},
          {'name': 'Gor Minasyan',
           'years': count_compete(m_gor, ['Gor Minasyan'])},
          {'name': 'Simon Martirosyan',
           'years': count_compete(simon, ['Simon Martirosyan'])},
          {'name': 'Andranik Karapetyan',
           'years': count_compete(a_kar, ['Andranik Karapetyan'])},
          {'name': 'Toshiki Yamamoto',
           'years': count_compete(toshiki, ['Toshiki Yamamoto'])},
          {'name': 'Bak Joo-Hyo',
           'years': count_compete(['b_hyodung', 'b_joohyo'], ['Bak Joo-Hyo'])},
          {'name': 'Jang Yeonhak',
           'years': count_compete(['yeon__hak_97'], ['Andranik Karapetyan'])},
          {'name': 'Lee Sang',
           'years': count_compete(lee_sang, ['Lee Sang'])},
          {'name': 'Adkhamjon Ergashev',
           'years': count_compete(ergashev, ['Adkhamjon Ergashev'])},
          {'name': 'C.J. Cummings',
           'years': count_compete(cj, ['C.J. Cummings', 'C.J Cummings', 'CJ Cummings'])},
          {'name': 'Behdad Salimi',
           'years': count_compete(salimi, ['Behdad Salimi'])},
          {'name': 'Ian Wilson',
           'years': count_compete(['iwilson1894'], ['Ian Wilson'])},
          {'name': 'Oleksiy Torokhtiy',
           'years': count_compete(torokhtiy, ['Oleksiy Torokhtiy', 'Aleksey Torokhitiy', 'Aleksiy Torokhtiy'])},
          {'name': 'Dmitry Klokov',
           'years': count_compete(klokov, ['Dmitry Klokov'])},
          {'name': 'Apti Aukhadov',
           'years': count_compete(aukhadov, ['Apti  Aukhadov'])},
          {'name': "D'Angelo Osorio",
           'years': count_compete(osorio, ["D'Angelo Osorio"])},
          {'name': 'Caine Wilkes',
           'years': count_compete(['thedragonwilkes'], ['Caine Wilkes'])},
          {'name': 'Fernando Reiss',
           'years': count_compete(['rreisfernando'], ['Fernando Reiss'])},
          {'name': 'Harrison Maurus',
           'years': count_compete(maurus, ['Harrison Maurus'])},
          {'name': 'Hampton Morris',
           'years': count_compete(morris, ['Hampton Morris'])},
          {'name': 'Alireza Yousefi',
           'years': count_compete(yousefi, ['Alireza Yousefi'])},
          {'name': 'Boady Santavy',
           'years': count_compete(boady, ['Boady Santavy'])},
          {'name': 'Yusuf Genç',
           'years': count_compete(['yusuf.fehmi.genc'], ['Yusuf Fehmi Genç', 'Yusuf Genç'])},
          {'name': 'Weeraphon Wichuma',
           'years': count_compete(['weeraphonwichuma'], ['Weeraphon Wichuma'])}
         ]

for item in m_dict:
    item['sex'] = 'M'

In [305]:
for item in w_dict[:2]:
    print(item)

{'name': 'Kuo Hsingchun', 'years': [['2023', 1], ['2022', 0], ['2021', 3], ['2020', 2], ['2019', 4], ['2018', 1], ['2017', 6], ['2016', 1], ['2015', 0], ['2014', 0], ['2013', 0]], 'sex': 'F'}
{'name': 'Jiang Huihua', 'years': [['2023', 0], ['2022', 0], ['2021', 0], ['2020', 0], ['2019', 0], ['2018', 0], ['2017', 0], ['2016', 0], ['2015', 0], ['2014', 0], ['2013', 0]], 'sex': 'F'}

In [437]:
# female table, split to look easier
w_names = [] 
for item in w_dict:
    w_names.append(item['name'])
    
w_sex = []
for item in w_dict:
    w_sex.append(item['sex'])
    
w_year = []
for item in w_dict:
    w_year.append(item['years'])

w_rows_tuples = list(zip(w_names, w_sex, w_year))

# males table
m_names = [] 
for item in m_dict:
    m_names.append(item['name'])
    
m_sex = []
for item in m_dict:
    m_sex.append(item['sex'])
    
m_year = []
for item in m_dict:
    m_year.append(item['years'])

m_rows_tuples = list(zip(m_names, m_sex, m_year))

In [438]:
df_women = pd.DataFrame(w_rows_tuples, columns = ['name', 'sex', 'year'])
df_men = pd.DataFrame(m_rows_tuples, columns = ['name', 'sex', 'year'])

df_all = pd.concat([df_men, df_women], ignore_index=True)
print(df_all.info())
print(df_men.info())
print(df_women.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    83 non-null     object
 1   sex     83 non-null     object
 2   year    83 non-null     object
dtypes: object(3)
memory usage: 2.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    49 non-null     object
 1   sex     49 non-null     object
 2   year    49 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    34 non-null     object
 1   sex     34 non-null     object
 2   year    34 non-null     object
dtypes: object(3)
memory usage: 944.0+ bytes
None

In [465]:
df1 = df_all.explode('year')
df_all[df_all['name'] == 'Lasha Talakhadze']
df1['times_compete'] = df1['year'].apply(lambda row: row[1]) 
df1['year'] = df1['year'].apply(lambda row: row[0]) 
df1.head()
f_lifters = df1[df1['sex'] == 'F']
# f_lifters.to_csv('female_lifters.csv')

m_lifters = df1[df1['sex'] == 'M']
m_lifters.to_csv('male_lifters.csv')

# df1.to_csv('all_lifters_year.csv')

In [452]:
top10 = df1.groupby(['name', 'sex']).times_compete.sum()
top10 = top10.to_frame()
top10.sort_values('times_compete', ascending=False).head(20)
# top10.to_csv('top10_lifters.csv')

                       times_compete
name              sex
Lasha Talakhadze  M               67
Mattie Rogers     F               62
Dmitry Klokov     M               60
C.J. Cummings     M               54
Ilya Ilyin        M               52
Loredana Toma     F               31
Tian Tao          M               31
Meso Hassona      M               26
Jourdan Delacruz  F               26
Luis Mosquera     M               25
Kate Vibert       F               22
Simon Martirosyan M               22
Ian Wilson        M               20
Harrison Maurus   M               20
Rebeka Koha       F               19
Morghan King      F               19
Jessica Lucero    F               18
Kuo Hsingchun     F               18
Apti Aukhadov     M               18
D'Angelo Osorio   M               18

In [384]:
df_all[(df_all['name'] == 'Kuo Hsingchun')]

             name sex  year  times_compete
49  Kuo Hsingchun   F  2023              1

In [372]:
df2 = pd.DataFrame( [[d2_kuo['name'], d2_kuo['years']]],
 columns=['name', 'year'])

df2
# df2 = df2.explode('year')
# df2['times_compete'] = df2['year'].apply(lambda row: row[1])
# df2['year'] = df2['year'].apply(lambda row: row[0])
# df2

            name                                               year
0  Kuo Hsingchun  [[2023, 1], [2022, 0], [2021, 3], [2020, 2], [...

In [208]:
d2_kuo.items()

dict_items([('name', 'Kuo Hsingchun'), ('years', [['2023', 1], ['2022', 0], ['2021', 3], ['2020', 2], ['2019', 4], ['2018', 1], ['2017', 6], ['2016', 1], ['2015', 0], ['2014', 0], ['2013', 0]])])

In [232]:
for year, times in d2_kuo['years']:
    print(year, times)

2023 1
2022 0
2021 3
2020 2
2019 4
2018 1
2017 6
2016 1
2015 0
2014 0
2013 0

## Only get posts without mentions that's about lifting

## Find name when no mention

In [ ]:
m_ehab_nm = ['Mohamed Ehab']
tuan_nm = ['Kim Tuan Thach']

In [ ]:
sorted(li)

In [ ]:
lifters = {}
lifters_23 = []
lifters_23_dis = []
lifters_23_count = []

In [ ]:
for item in data:
    if 'mentions' in item:
        for name in item['mentions']:
            if '2022' in item['timestamp']:
                lifters_23.append(name)
                if name not in lifters_23_dis:
                    lifters_23_dis.append(name)
lifters_23_count = []
for name in lifters_23_dis:
    lifters_23_count.append(lifters_23.count(name))

lifters_tuple = zip(lifters_23_dis, lifters_23_count)
lifters.update(lifters_tuple)
lifters

In [ ]:
# l1 = [1,2,3,4,5]
# l2 = ['a', 'b', 'c', 'd', 'e']
# l4 = [1,1,1,2,2,2,2,3,3,3,3,3,4,4,5,5,5,5,5,]
# l5 = []

In [ ]:
# l3 = zip(l1,l2)

In [ ]:
# lifters.update(l3)
# lifters

In [ ]:
# for number in l1:
#     l5.append(l4.count(number))

In [ ]:
# l5

In [ ]:
len(data)

In [ ]:
name_counts = []
for name in dis_names:
    name_counts.append(all_names.count(name))

In [ ]:
name_tuple = zip(li, name_counts)

In [ ]:
lifters.update(name_tuple)

In [ ]:
lifters

In [ ]:
all_names

In [ ]:
sorted(li)

In [ ]:
for post in data:
    if 'mentions' in post and '-94kg' or '__lalaleah' in post['mentions']:
        print(post['url'])